data/File description.txt
data
wandb
extra_data/
logs
*.pyc
progress
results
model_weights/
*.png
.idea/
_pucache_/
data_revision
model_weights_revision/
results_revision/
data_uoc/DataForClassification_TimeDomain.mat
*.mat
*.csv
*.txt
data_git/
*.h5
*.pb
/data_uoc/*
/data_revision/*
model_weights/*
model_weights_revision/*
model_weights_uoc/*
old_model_weights/*